@model TreatBakery.Models.Treat

<div class="add">
<h2>Add a Flavor</h2>

<h4>Add a flavor to this item: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

 <p class="input">@Html.Label("Select flavor")</p>
  <p class="input">
  @Html.DropDownList("FlavorId")</p>

 <p class="button"><input type="submit" value="Save" />
 </p>
}

<p>@Html.ActionLink("Back to list", "Index")</p>

</div>