@model TreatBakery.Models.Treat


<h1>Add a Flavor</h1>
<hr />
<div class="container">
  <h2>Add a flavor to this item: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.TreatId)

      @Html.Label("Select flavor")
      @Html.DropDownList("FlavorId")
      <input type="submit" value="Save" class="input" />

    }
<div class="btn-container">
    <p class="button">@Html.ActionLink("Back to list", "Index")</p>
</div>

</div>