@using TreatBakery.ViewModels

@model LoginViewModel

<h1>Log in with your account</h1>
<hr />

<div class="container">
@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.EditorFor(m => m.Password)

  <input type="submit" value="Log in" />
}

<p class="button">@Html.ActionLink("Register for an account", "Register")</p>
<p class="button">@Html.ActionLink("Back to accounts page", "Index")</p>
</div>