@using TreatBakery.Models;

<h1>Welcome to your Treat Bakery!</h1>
<hr />

<div class="container">
  <h2>Treats</h2>
  @if (Model["treats"] is Treat[] treats && treats.Any())
  {
    <ul>
      @foreach (var treat in treats)
      {
        <p>@treat.Name</p>
      }
    </ul>
  }
  else
  {
    <p>No treats available.</p>
  }
</div>

<div class="container">
  <h2>Flavors</h2>
  @if (Model["flavors"] is Flavor[] flavors && flavors.Any())
  {
    <ul>
      @foreach (var flavor in flavors)
      {
        <p>@flavor.Name</p>
      }
    </ul>
  }
  else
  {
    <p>No flavors available.</p>
  }
</div>

<br />
<br />
<br />
<div class="container">
  <p class="button">@Html.ActionLink("Manage treats", "Index", "Treats")</p>
  <p class="button">@Html.ActionLink("Manage flavors", "Index", "Flavors")</p>
  <p class="button">@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
</div>