@model TreatBakery.Models.Flavor

<h1>Add a Treat</h1>
<hr />
<div class="container">
  <h2>Add a treat to this flavor: @Html.DisplayFor(model => model.Name)</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
  }

  <p class="button">@Html.ActionLink("Back to list", "Index")</p>
</div>