@using TreatBakery.Models
@model TreatBakery.Models.Flavor

<h1>Flavor Details</h1>
<hr />
<div class="container">
  <h3>@Model.Name</h3>
  <p>@Model.Description</p>

  @if (@Model.JoinEntities.Count == 0)
  {
    <p>This flavor does not have any treats yet! Add a treat?</p>
    <p class="button">@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</p>

  }
  else
  {
    <h3>This flavor comes in the following treats:</h3>

    @foreach (TreatFlavor join in Model.JoinEntities)
    {
      @using (Html.BeginForm("DeleteJoin", "Treats"))
      {
        <p>Treats: @join.Treat.Name</p>
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete" />
      }
    }
  }

  <p class="button">@Html.ActionLink("Back to list", "Index")</p>
  <p class="button">@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
  <p class="button">@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
</div>
```