@model TreatBakery.Models.Flavor

<h1>Edit</h1>
<hr />

<div class="container">
  <h2>Edit this flavor: @Html.DisplayFor(model => model.Name)</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br />

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    <br />
    <input type="submit" value="Save" />
  }
</div>

<div class="container">
  <p class="button">@Html.ActionLink("Back to list", "Index")</p>
</div>